{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Coming Soon</h1>
    
    {{ profile }}
    
    <p>A new way to organize recipes and have them presented to you by an enthusiastic cartoon whale.</p>
    <p>Qui sustainable pop-up meh laborum. Laborum brunch swag, pug proident mumblecore id ex aliquip culpa Etsy readymade freegan YOLO assumenda. Delectus nulla +1, locavore Portland messenger bag deserunt gluten-free. Sapiente chia Wes Anderson, enim you probably haven't heard of them Echo Park McSweeney's id Kickstarter XOXO proident veniam. Sunt quinoa Bushwick banh mi, delectus PBR ethnic deep v pug consequat food truck sed gentrify nisi cred. Schlitz deep v sustainable cornhole iPhone, distillery placeat sint esse voluptate. Mollit Pitchfork scenester pickled est, gentrify hella paleo master cleanse enim delectus duis flannel sapiente nostrud.</p>

    <input type="text" name="date" id="date"/><br/>
    <button class="button">Don't click me</button>

{% endblock %}
