{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Coming Soon</h1>
    <p>A new way to organize recipes and have them presented to you by an enthusiastic cartoon whale.</p>
    <p>Qui sustainable pop-up meh laborum. Laborum brunch swag, pug proident mumblecore id ex aliquip culpa Etsy readymade freegan YOLO assumenda. Delectus nulla +1, locavore Portland messenger bag deserunt gluten-free. Sapiente chia Wes Anderson, enim you probably haven't heard of them Echo Park McSweeney's id Kickstarter XOXO proident veniam. Sunt quinoa Bushwick banh mi, delectus PBR ethnic deep v pug consequat food truck sed gentrify nisi cred. Schlitz deep v sustainable cornhole iPhone, distillery placeat sint esse voluptate. Mollit Pitchfork scenester pickled est, gentrify hella paleo master cleanse enim delectus duis flannel sapiente nostrud.</p>
    <p>Paleo cardigan authentic umami single-origin coffee. Godard tempor aliquip pop-up. Cray Schlitz pop-up officia ut Tonx, Banksy fugiat. Synth wayfarers mixtape, hella Godard bicycle rights pug. Gluten-free before they sold out Pitchfork, commodo sint cupidatat shabby chic trust fund leggings gastropub put a bird on it squid slow-carb. YOLO dreamcatcher deep v bitters Helvetica. Eu biodiesel artisan, drinking vinegar irure tousled labore sustainable.</p>
    <p>Next level trust fund cray narwhal labore. Salvia roof party duis actually, kogi Tumblr VHS aliqua esse delectus in non. Portland art party mixtape, pop-up mlkshk actually four loko plaid gastropub quis sapiente Banksy you probably haven't heard of them hashtag Tumblr. Fap 8-bit swag sriracha, do banh mi eiusmod tousled selfies before they sold out placeat veniam elit. Aesthetic mustache brunch aliquip wayfarers skateboard Intelligentsia vinyl Wes Anderson. Cred asymmetrical art party narwhal, kitsch delectus nesciunt American Apparel eiusmod fingerstache velit actually before they sold out Neutra. Food truck placeat tattooed, single-origin coffee mumblecore Austin Pinterest nisi.</p>

    <input type="text" name="date" id="date"/><br/>
    <button class="button">Don't click me</button>

{% endblock %}
