{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<div id="header">
    <div id="nav">
        <p id="user-info">
        {% if user.is_authenticated %}
            {% trans "Hello," %} <b>{{ user.username }}</b>. <a href="{% url 'userena_signout' %}">{% trans "Sign out" %}</a>
        {% else %}
            <a href="{% url 'userena_signin' %}">Sign in</a>
        {% endif %}
        </p>

        <a href="{% url 'recipes:index' %}"><div class="menu-item">
            <div class="img" id="home_img"></div>
            <h4>{% trans "Home" %}</h4>
        </div></a>

        {% if user.is_authenticated %}
            <a href="{% url 'recipes:recipe_list' %}"><div class="menu-item">
                <div class="img" id="recipes_img"></div>
                <h4>{% trans "Recipes" %}</h4>
            </div></a>
            <a href="{% url 'recipes:box_list' %}"><div class="menu-item">
                <div class="img" id="boxes_img"></div>
                <h4>{% trans "Boxes" %}</h4>
            </div></a>
            <a href="{% url 'userena_profile_detail' user.username %}"><div class="menu-item">
                <img id="avatar" src="{{ user.get_profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" />
                <h4>{% trans "Account" %}</h4>
            </div></a>
        {% endif %}
    </div>
    <img id="logo" src="{% static 'chefwhale/images/whale_title.png' %}" />
    <div id="border"></div>
</div>
{% endblock %}

{% block content %}
    <h1>Coming Soon</h1>
    
    {{ profile }}
    
    <p>A new way to organize recipes and have them presented to you by an enthusiastic cartoon whale.</p>
    <p>Qui sustainable pop-up meh laborum. Laborum brunch swag, pug proident mumblecore id ex aliquip culpa Etsy readymade freegan YOLO assumenda. Delectus nulla +1, locavore Portland messenger bag deserunt gluten-free. Sapiente chia Wes Anderson, enim you probably haven't heard of them Echo Park McSweeney's id Kickstarter XOXO proident veniam. Sunt quinoa Bushwick banh mi, delectus PBR ethnic deep v pug consequat food truck sed gentrify nisi cred. Schlitz deep v sustainable cornhole iPhone, distillery placeat sint esse voluptate. Mollit Pitchfork scenester pickled est, gentrify hella paleo master cleanse enim delectus duis flannel sapiente nostrud.</p>

    <input type="text" name="date" id="date"/><br/>
    <button class="button">Don't click me</button>

{% endblock %}
