{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    {% if profile == recipe.user %}
        <a href="{% url 'recipes:recipe_edit' pk=recipe.pk %}">{% trans 'Edit' %}</a>
    {% endif %}

    <h2>{{ recipe.name }}</h2>

    <p>{{ recipe.description }}</p>
    
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient }}</li>
    {% endfor %}
    </ul>
    
    <h3>Instructions</h3>
    <ol class="instruction-list">
    {% for instruction in recipe.instruction_set.all %}
        <li>{{ instruction }}</li>
    {% endfor %}
    </ol>
    
{% endblock %}
