
/*** Colors
 * Dark blue: #0b57a0
 * Medium blue: #79b6ec
 * Light blue: #cde5f8
 * Orange: #ff8c3b
 * Dark gray: #333
 ***/


html {
    font-family: 'Aller light', sans-serif;
    font-size: 1em;
}

html, body, #container {
    height: 100%;
}

h1 {
    font-family: 'Aller display', sans-serif;
    font-weight: normal;
}

h1, h3, h4, h5, h6 {
    font-family: 'Aller bold', sans-serif;
}

:focus {
    outline: none;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 4em;
    padding: 15px;
    margin: 0;
}

p {
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #79b6ec;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
}


a,  a:visited {
    color: #0b57a0;
    text-decoration: none;
}
a:hover, a:visited:hover {
    color: #ff8c3b;
}


/*** Header ***/


#header, #header-compact {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: #cde5f8;
}
#header {
    padding-top: 25px;
    height: 175px;
}
#header-compact {
    padding-top: 35px;
    height: 75px;
}

#logo {
}

#logo-compact {
    padding: 0 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
}

#nav, #nav-compact {
    display: block;
    position: absolute;
    right: 15px;
    text-align: right;
}
#nav {
    top: 15px;
}
#nav-compact {
    top: 10px;
}

#nav-compact ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#user-info {
    margin: 0;
    text-align: right;
    font-size: 1.1em;
    color: #333;
}

#nav .menu-item, #nav-compact .menu-item {
	position: relative;
	display: inline-block;
    overflow: hidden;
}
#nav .menu-item {
    width: 5.1em;
    height: 120px;
    margin: 0 0 0 10px;
    text-align: center;
}
#nav-compact .menu-item {
    text-align: left;
}

#nav .menu-item div.img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
}
#nav-compact .menu-item div.img {
    height: 60px;
    width: 60px;
    display: inline-block;
}

a #home_img {
    background: url(../images/home_img.png) no-repeat;
    background-size: 100%;
}
a:hover #home_img {
    background: url(../images/home_hover_img.png) no-repeat;
    background-size: 100%;
}

a #recipes_img {
    background: url(../images/recipes_img.png) no-repeat;
    background-size: 100%;
}

a:hover #recipes_img {
    background: url(../images/recipes_hover_img.png) no-repeat;
    background-size: 100%;
}

a #boxes_img {
    background: url(../images/boxes_img.png) no-repeat;
    background-size: 100%;
}
a:hover #boxes_img {
    background: url(../images/boxes_hover_img.png) no-repeat;
    background-size: 100%;
}

#nav .menu-item img {
    position: absolute;
    top: 0;
    left: 50%;
}
#nav img#avatar {
    padding: 10px;
    top: 10px;
    width: 60px;
    margin-left: -40px;
}
#nav-compact img#avatar {
    width: 45px;
}

#nav h4 {
    font-size: 1.4em;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
#nav-compact h4 {
    font-size: 1.4em;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 10px 0 5px;
}

#nav a:hover h4, #nav a:visited:hover h4 {
    color: #ff8c3b;
}

#border, #border-compact {
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
}
#border {
    height: 35px;
    background-image: url('../images/wave.png');
}
#border-compact {
    height: 20px;
    background-image: url('../images/wave-compact.png');
}

#fish {
    position: absolute;
    width: 100%;
    top: 200px;
    z-index: -1;
}


/*** Content ***/


#content {
    width: 800px;
    background-color: rgba(255, 255, 255, 0.6);;
    /background-color: #cde5f8;
    margin: 10px auto 25px auto;
    padding: 30px;
}

.ingredient-list {
    list-style: none;
    padding-left: 0;
}


/*** Footer ***/


#push {
    height: 8em;
}

#footer {
    font-family: 'Aller', sans-serif;
    clear: both;
    position: relative;
    width: 100%;
    height: 4em;
}

#footer > img {
    position: absolute;
    bottom: 50%;
    z-index: -1;
}

#seaweed1 {
    left: 50px;
}
#seaweed2 {
    right: 50px;
}

#footer #seafloor {
    height: 40px;
    background-image: url('../images/seafloor.png');
}

#footer #text-area {
    height: calc(8em - 40px);
    background-color: #ba9754;
}

#footer #text-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

#footer #text-area ul li {
    display: inline;
}

#footer a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


/*** Profile Info ***/


#box-nav {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 30px;
    list-style: none;
    padding-left: 0;
    font-family: "Aller", serif;
}

#box-nav a {
    display: block;
    color: #fff;
    background-color: #0b57a0;
    padding: .5em;
    width: 8em;
}
#box-nav a:hover {
    background-color: #ff8c3b;
}
#box-nav a:active {
    background-color: #79b6ec;
}

#details {
    display: inline-block;
    vertical-align: top;
}


/*** Forms (crispy) ***/


input[type=text], input[type=password], textarea {
    line-height: 1.25em;
    border: none;
    font-family: 'Aller light', sans-serif;
    font-size: 1em;
    padding: .25em .5em;
    border: 1px solid #fff;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #79b6ec;
}

form .control-group {
    margin: 1em 0;
}

.control-group > label {
    font-family: "Aller", serif;
    vertical-align: center;
    display: block;
}

form .errorField {
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #ff8c3b;
}

form .help-block {
    font-style: italic;
    margin: 0;
}
form [id^=error_] {
    color: #ff8c3b;
}

form .asteriskField {
    display: none;
}

.overflow {
    max-height: 10em;
}

/* NFI file input */

.NFI-wrapper {
    vertical-align: center;
    display: inline-block;
}
.NFI-button {
	background-color: #0b57a0;
	line-height: 1.5em;
	padding: 0 .5em;
	color: #fff;
}
.NFI-button:hover {
    background-color: #ff8c3b;
}
.NFI-button:active {
    background-color: #79b6ec;
}
.NFI-filename {
	border: none;
	font-size: 1em;
	vertical-align: center;
	line-height: 1.5em;
}



/*** Responsive Design ***/


@media screen and (max-width: 1025px) {
    #header {
        height: calc(250px);
    }
    #fish {
        top: 325px;
    }
    #logo {
        max-width: calc(100% - 50px);
    }
}

@media screen and (max-width: 775px) {
    #content {
        width: calc(100% - 60px);
    }
    #fish {
        visibility: hidden;
    }
}
