<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <title>Chef Whale</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'chefwhale/fonts/fonts.css' %}" />
        <link rel="stylesheet" type="text/css"  href="{% static 'chefwhale/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'chefwhale/jquery-ui/jquery-ui.min.css' %}"/>
        <link rel="shortcut icon" href="{% static 'chefwhale/images/favicon.ico' %}"/>
        <script src="{% static 'chefwhale/jquery-ui/external/jquery/jquery.js' %}"></script>
        <script src="{% static 'chefwhale/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'chefwhale/js/main_jquery_ui.js' %}"></script>
        <script src="{% static 'chefwhale/js/jquery.nicefileinput.min.js' %}"></script>
    </head>
    <body>
        <div id="container">

            {% block header %}
            <div id="header-compact">
                <div id="nav-compact">
                    <p id="user-info">
                        {% comment %}
                        {% if user.is_authenticated %}
                            {% trans "Hello," %} <b>{{ user.username }}</b>. <a href="{% url 'userena_signout' %}">{% trans "Sign out" %}</a>
                        {% else %}
                        <a href="{% url 'userena_signin' %}">Sign in</a>
                        {% endif %}
                        {% endcomment %}
                    </p>
                    <ul>
                        <li class="menu-item"><a href="{% url 'recipes:index' %}">
                            <div class="img" id="home_img"></div>
                            <h4>{% trans "Home" %}</h4>
                        </a></li>
                        {% if user.is_authenticated %}
                            <li class="menu-item"><a href="{% url 'recipes:recipe_list' %}">
                                <div class="img" id="recipes_img"></div>
                                <h4>{% trans "Recipes" %}</h4>
                            </a></li>
                            <li class="menu-item"><a href="{% url 'recipes:box_list' %}">
                                <div class="img" id="boxes_img"></div>
                                <h4>{% trans "Boxes" %}</h4>
                            </a></li>
                            <li class="menu-item"><a href="{% url 'userena_profile_detail' user.username %}">
                                <img id="avatar" src="{{ user.get_profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" />
                                <h4>{% trans "Account" %}</h4>
                            </a></li>
                        {% endif %}
                    </ul>
                </div>
                <img id="logo-compact" src="{% static 'chefwhale/images/whale_title.png' %}" />
                <div id="border-compact"></div>
            </div>
            {% endblock %}


            <img id="fish" src="{% static 'chefwhale/images/fish.png' %}" />
            <div id="content">
                {% block content %}<h1 style>Coming Soon</h1>{% endblock %}
            </div>
            <div id="push"></div>
        </div>
        
        <div id="footer">
            <img src="{% static 'chefwhale/images/seaweed1.png' %}" id="seaweed1" />
            <img src="{% static 'chefwhale/images/seaweed2.png' %}" id="seaweed2" />
            <div id="seafloor"></div>
            <div id="text-area">
                <ul>
                    <li><a href="{% url 'recipes:index' %}">Home</a></li>
                    <li><img src="{% static 'chefwhale/images/starfish.png' %}" /></li>
                    <li><a href="#">Contact</a></li>
                    <li><img src="{% static 'chefwhale/images/starfish.png' %}" /></li>
                    <li><a href="{% url 'recipes:about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
