{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>Chef Whale</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'chefwhale/fonts/fonts.css' %}" />
        <link rel="stylesheet" type="text/css"  href="{% static 'chefwhale/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'chefwhale/jquery-ui/jquery-ui.min.css' %}"/>
        <link rel="shortcut icon" href="{% static 'chefwhale/images/favicon.ico' %}"></link> 
        <script src="{% static 'chefwhale/jquery-ui/external/jquery/jquery.js' %}"></script>
        <script src="{% static 'chefwhale/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'chefwhale/js/main_jquery_ui.js' %}"></script>
    </head>
    <body>
        <div id="container">
        
            <div id="header">
                <div id="nav">
                
                    
                    {% if user.is_authenticated %}
                        <p id="user-info">Signed in as <b>{{ user.username }}</b>. <a href="{% url 'userena_signout' %}">Sign out</a></p>
                    {% else %}
                        <p id="user-info"><a href="{% url 'userena_signin' %}">Sign in</a></p>
                    {% endif %}
                    
                    <a href="{% url 'recipes:index' %}"><div class="menu-item">
                        <div class="img" id="home_img"></div>
                        <h4>Home</h4>
                    </div></a>
                    
                    {% if user.is_authenticated %}
                        <a href="{% url 'recipes:recipe_list' %}"><div class="menu-item">
                            <div class="img" id="recipes_img"></div>
                            <h4>Recipes</h4>
                        </div></a>
                        <a href="{% url 'recipes:box_list' %}"><div class="menu-item">
                            <div class="img" id="boxes_img"></div>
                            <h4>Boxes</h4>
                        </div></a>
                        <a href="{% url 'userena_profile_detail' profile.user.username %}"><div class="menu-item">
                            <img id="avatar" src="{{ profile.get_mugshot_url }}" alt="{% trans 'Your mugshot' %}" />
                            <h4>Account</h4>
                        </div></a>
                    {% endif %}
                    
                </div>
                <img id="logo" src="{% static 'chefwhale/images/whale_title.png' %}" />
                <div id="border"></div>
            </div>
            <img id="fish" src="{% static 'chefwhale/images/fish.png' %}" />
            <div id="content">
                {% block content %}<h1 style>Coming Soon</h1>{% endblock %}
            </div>
            <div id="push"></div>
        </div>
        
        <div id="footer">
            <img src="{% static 'chefwhale/images/seaweed1.png' %}" id="seaweed1" />
            <img src="{% static 'chefwhale/images/seaweed2.png' %}" id="seaweed2" />
            <div id="seafloor"></div>
            <div id="text-area">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><img src="{% static 'chefwhale/images/starfish.png' %}" /></li>
                    <li><a href="#">Contact</a></li>
                    <li><img src="{% static 'chefwhale/images/starfish.png' %}" /></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
