/*
940px
*/

html {
    font-family: 'Aller light', sans-serif;
    font-size: 1em;
}

html, body, #container {
    height: 100%;
}

h1, h2 {
    font-family: 'Aller display', sans-serif;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: 'Aller bold', sans-serif;
}

:focus {
    outline: none;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 4em;
    padding: 15px;
    margin: 0;
}

p {
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #79b6ec;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
}


/*** Header ***/


#header {
    position: relative;
    margin: 0;
    padding-top: 25px;
    width: 100%;
    height: 175px;
    background-color: #cde5f8;
}

#logo {
    padding: 0 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#nav {
    display: block;
    width: 280px;
    position: absolute;
    top: 25px;
    right: 0;
}

#user-info {
    margin: 0 25px 0 0;
    text-align: right;
    font-size: 1.1em;
}

#user-info, #user-info a, user-info a:visited {
    font-color: #fff;
    text-decoration: none;
}

#user-info a {
    font-style: italic;
}

.menu-item {
	width: 80px;
	position: relative;
	display: inline-block;
	margin: 0 10px 0 0;
}

.menu-item div {
	height: 120px;
}

#nav #home {
	background: url(images/home.png) no-repeat;
	background-size: 100%;
}
#nav #home:hover {
	background: url(images/home_hover.png) no-repeat;
	background-size: 100%;
}
#nav #recipes {
	background: url(images/recipes.png) no-repeat;
	background-size: 100%;
}
#nav #recipes:hover {
	background: url(images/recipes_hover.png) no-repeat;
	background-size: 100%;
}
#nav #boxes {
	background: url(images/boxes.png) no-repeat;
	background-size: 100%;
}
#nav #boxes:hover {
	background: url(images/boxes_hover.png) no-repeat;
	background-size: 100%;
}

#border {
    dislay: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 35px;
    /*padding-top: -25px;*/
    background-image: url('images/wave.png');
}

#fish {
    position: absolute;
    width: 100%;
    top: 200px;
    z-index: -1;
}


/*** Content ***/


#content {
    width: 700px;
    background-color: #fff;
    margin: 10px auto 25px auto;
    padding: 10px 20px;
}

.ingredient-list {
    list-style: none;
    padding-left: 0;
}


/*** Footer ***/


#push {
    height: 8em;
}

#footer {
    clear: both;
    position: relative;
    width: 100%;
    height: 8em;
}

#footer > img {
    position: absolute;
    bottom: 50%;
    z-index: -1;
}

#seaweed1 {
    left: 50px;
}
#seaweed2 {
    right: 50px;
}

#footer #seafloor {
    height: 40px;
    background-image: url('images/seafloor.png');
}

#footer #text-area {
    height: calc(8em - 40px);
    background-color: #ba9754;
}

#footer #text-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

#footer #text-area ul li {
    display: inline;
}

#footer a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


/*** Sandbox ***/





/*** Responsive Design ***/


@media screen and (max-width: 1025px) {
    #header {
        height: calc(250px);
    }
    #fish {
        top: 325px;
    }
    #logo {
        max-width: calc(100% - 50px);
    }
}

@media screen and (max-width: 775px) {
    #content {
        width: calc(100% - 60px);
    }
    #fish {
        visibility: hidden;
    }
}
