
/*** Colors
 * Dark blue: #0b57a0
 * Medium blue: #79b6ec
 * Light blue: #cde5f8
 * Orange: #ff8c3b
 * Dark gray: #333
 ***/


html {
    font-family: 'Aller light', sans-serif;
    font-size: 1em;
}

html, body, #container {
    height: 100%;
}

h1, h2 {
    font-family: 'Aller display', sans-serif;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: 'Aller bold', sans-serif;
}

:focus {
    outline: none;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 4em;
    padding: 15px;
    margin: 0;
}

p {
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #79b6ec;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
}


/*** Header ***/


#header {
    position: relative;
    margin: 0;
    padding-top: 25px;
    width: 100%;
    height: 175px;
    background-color: #cde5f8;
}

#logo {
    padding: 0 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#nav {
    display: block;
    /width: 400px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}

#user-info {
    margin: 0;
    text-align: right;
    font-size: 1.1em;
}
#user-info {
    color: #333;
}
#user-info a,  user-info a:visited {
    color: #0b57a0;
    font-style: italic;
    text-decoration: none;
}
#user-info a:hover, #user-info a:visited:hover {
color: #ff8c3b;
}

.menu-item {
	width: 80px;
    height: 120px;
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
    overflow: hidden;
    text-align: center;
}

.menu-item div.img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
}

a .menu-item #home_img {
    background: url(images/home_img.png) no-repeat;
    background-size: 100%;
}
a:hover .menu-item #home_img {
    background: url(images/home_hover_img.png) no-repeat;
    background-size: 100%;
}
a .menu-item #recipes_img {
    background: url(images/recipes_img.png) no-repeat;
    background-size: 100%;
}
a:hover .menu-item #recipes_img {
    background: url(images/recipes_hover_img.png) no-repeat;
    background-size: 100%;
}
a .menu-item #boxes_img {
    background: url(images/boxes_img.png) no-repeat;
    background-size: 100%;
}
a:hover .menu-item #boxes_img {
    background: url(images/boxes_hover_img.png) no-repeat;
    background-size: 100%;
}


.menu-item img {
    position: absolute;
    top: 0;
    left: 50%;
}
.menu-item img#avatar {
    padding: 10px;
    top: 10px;
    width: 60px;
    margin-left: -40px;
}

a .menu-item h4 {
    color: #0b57a0;
    font-size: 1.4em;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

a:hover .menu-item h4, a:visited:hover .menu-item h4 {
    color: #ff8c3b;
}

#border {
    dislay: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 35px;
    background-image: url('images/wave.png');
}

#fish {
    position: absolute;
    width: 100%;
    top: 200px;
    z-index: -1;
}


/*** Content ***/


#content {
    width: 700px;
    background-color: #fff;
    margin: 10px auto 25px auto;
    padding: 10px 20px;
}

.ingredient-list {
    list-style: none;
    padding-left: 0;
}


/*** Footer ***/


#push {
    height: 8em;
}

#footer {
    clear: both;
    position: relative;
    width: 100%;
    height: 8em;
}

#footer > img {
    position: absolute;
    bottom: 50%;
    z-index: -1;
}

#seaweed1 {
    left: 50px;
}
#seaweed2 {
    right: 50px;
}

#footer #seafloor {
    height: 40px;
    background-image: url('images/seafloor.png');
}

#footer #text-area {
    height: calc(8em - 40px);
    background-color: #ba9754;
}

#footer #text-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

#footer #text-area ul li {
    display: inline;
}

#footer a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


/*** Sandbox ***/





/*** Responsive Design ***/


@media screen and (max-width: 1025px) {
    #header {
        height: calc(250px);
    }
    #fish {
        top: 325px;
    }
    #logo {
        max-width: calc(100% - 50px);
    }
}

@media screen and (max-width: 775px) {
    #content {
        width: calc(100% - 60px);
    }
    #fish {
        visibility: hidden;
    }
}
